@import '~@fluentui/react/dist/sass/References.scss';

.apiExplorer {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.table {
  border-collapse: collapse;
  width: 100%;

  th {
    text-align: left;
    padding: 4px 8px;
    border-bottom: 1px solid #ccc;
  }

  td {
    padding: 4px 8px;
  }

  .idCell {
    font-size: 11px;
    color: #888;
  }
}
